<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Reviews</title>
</head>
<body>
    <form action="/" method="POST"> <!-- action="/" : data is sent to main domain -->
        {% csrf_token %}
        {% if has_error %}
            <p>This form is invalid, please enter a valid username!</p>
        {% endif %}
        <label for="name">Your name</label>
        <input id="username" name="username" type="text">
        <button type="submit">Send</button>
    </form>
</body>
</html>