{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Reviews</title>
    <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
</head>
<body>
    <form action="/" method="POST"> <!-- action="/" : data is sent to main domain -->
        <!-- manually adding forms
         {% if has_error %}
            <p>This form is invalid, please enter a valid username!</p>
        {% endif %}
        <label for="name">Your name</label>
        <input id="username" name="username" type="text"> -->
        {% csrf_token %}
        {% for field in form %}
            <div class="form-control {% if field.errors %} errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
</body>
</html>